<!DOCTYPE html>
<html>

<%
def stats = utils.aggregateStats(data)
def config = com.aoe.gebspockreports.GebReportConfigLoader.instance.config
def gebUtils = new com.aoe.gebspockreports.GebReportUtils()
def bdsiSpocUtils = new com.bdsi.util.BDSISpockUtils()
%>

<head>
    <meta charset="utf-8"/>
    <title>Boeing Web Automation</title>
    <style>
        .summary-table
        {
        border:1px solid black
        }
        .summary-table table
        {
        border:1px solid black
        }
        .totalCol {
	      font-weight: bold;
         }
         .ct-square {
          margin : -90px 0px 0px 0px;
         }
		body {
		    font-family: Helvetica, Arial, sans-serif;
		    width: 1000px;
		    margin: auto;
		    font-size: 14px;
		}
		
		hr {
		    border: none;
		    height: 1px;
		    color: #DDDDDD;
		    background-color: #DDDDDD;
		}
		
		h1 {
		    font-weight: 300;
		    margin: 24px 0px 8px 0px;
		    font-size: 32px;
		    word-wrap: break-word;
		    color:#0033a1;
		}
		
		h2 {
		    margin-top: 36px;
		    font-size: 22px;
		    font-weight: 300;
		    color:#0033a1;
		}
		
		h3 {
		    font-weight: 300;
		    font-size: 13px;
		    margin-top: 24px;
		    margin-bottom: 4px;
		}
		
		p {
		    margin: 0;
		}
		
		table {
		    width: 100%;
		    background-color: white;
		}
		
		th {
		    font-size: 13px;
		    text-align: left;
		    padding: 6px;
		    background: #E0E0E0;
		    font-weight: bold;
		}
		
		td {
		    padding: 6px;
		    background-color: #FAFAFA;
		    font-size: 13px;
		    line-height: 15px;
		    max-width: 500px;
		    word-wrap: break-word;
		}
		
		tr.skipped td {
		    color: lightgray;
		}
		
		tr.error td, td.error {
		    background-color: #FFC107;
		}
		
		tr.failure td, td.failure {
		    color: #E53935;
		}
		
		td.error, td.failure {
		    font-weight: bold;
		}
		
		td.passed {
		    color: #2E7D32;
		}
		
		div.footer {
		    margin: 24px 0px 24px 0px;
		    padding-top: 24px;
		    border-top: 1px solid #DDDDDD;
		    text-align: center;
		    font-size: 13px;
		}
		
		span.date-test-ran {
		    font-size: 13px;
		}
		
		ul {
		    list-style-type: square;
		}
		
		li {
		    margin: 3px 0px 3px 0px;
		}
		h2.specifications {
		    display: inline-block;
		}
		
		div.filter {
		    float: right;
		    padding-top: 36px;
		}
		
		input.search {
		    float: right;
		    font-size: 13px;
		    margin-left: 8px;
		}
		
		input.table-filter {
		    display: none
		}
		
		input.table-filter + label {
		    display: inline-block;
		    cursor: pointer;
		    color: #000;
		    padding: 5px 5px 3px 5px;
		    border: 1px solid #DDDDDD;
		    opacity: 0.4;
		    font-size: 13px;
		}
		
		input.table-filter:checked + label{
		    opacity: 1.0;
		    border: 1px solid #999999;
		}
		
		ul.pagination {
		    list-style: none;
		    padding: 0;
		    text-align: right;
		}
		
		ul.pagination > li {
		    display: inline;
		}
		
		a.page {
		    border: 1px solid #DDDDDD;
		    transition: background-color .3s;
		
		    display: inline-block;
		    width: 24px;
		    height: 24px;
		    margin: 2px;
		
		    line-height: 24px;
		    text-align: center;
		    text-decoration: none;
		    color: inherit;
		
		    font-size: 13px;
		}
		
		ul.pagination li:not(.active) > a.page:hover {
		    background-color: #DDDDDD;
		}
		
		ul.pagination > li.active > a.page {
		    font-weight: bold;
		}
		
		div.header-left {
		    width: 80%;
		    float: left;
		}
		
		div.header-right {
		    float: right;
		    width: 14%;
		}
		
		div.header-wrapper:after {
		    content: "";
		    display: table;
		    clear: both;
		}
		
		.ct-series-passed {
		    fill: #43A047;
		}
		
		.ct-series-failed {
		    fill: #E53935;
		}
		
		.ct-label {
		    fill: #FFFFFF;
		    font-size: 13px;
		}
		.main-title {
		   position: absolute;
		   top: 10px;
		   left: 450px;
		}

	div.reportLink{
	position: absolute;
	left: 70%;
	}

    </style>
</head>
<body>
<h1><img id="main-nav__logo" src="https://bea-stg1-store.sparkred.com/assets/rebrand/images/Boeing_header-logo_white.png" style="width:188px;background-color: #0033a1;border-radius: 5px;position:relative;top:10px;"
         alt="BoeingDistribution">
    Automation Test Execution Summary - BOEING</h1>
<hr>
<span class="date-test-ran" style="font-size: 15px;">
<%
    out << "Created on ${new Date()} by ALT Digital Technologies"
    out << (projectName ? ', <strong>Project: </strong> ' + projectName : '')
    out << (projectVersion ? (', <strong>Version: </strong>' + projectVersion) : '')
%>
</span>
<br/>
<div>
    <div class="header-wrapper">
        <div class="header-left">
            <h2>Environment Summary</h2>
            <table class="summary-table">
                <thead>
                <tr>
                    <th>Device</th>
                    <th>Environment</th>
                    <th>Base URL</th>
                </tr>
                </thead>
                <tbody>
                <% def env = System.properties['geb.build.baseUrl']
                def baseUrl = com.bdsi.util.BDSISpockUtils.getConfigProperty('baseUrl')
               %>
                <tr>
                    <td>Desktop</td>
                    <td>${env}</td>
                    <td>${baseUrl}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%
def modules = [] as List
def modulesPassed = 0
def featuresRun = 0
def featuresFailed = 0
def featuresErrored = 0
def featuresSkipped = 0

data.each { name, map ->
def s = map.stats
featuresRun += s.totalRuns
featuresFailed += s.failures
featuresErrored += s.errors
featuresSkipped += s.skipped

def failedCasesCountForModule = featuresFailed + featuresErrored
modulesPassed = (failedCasesCountForModule > 0) ? 0 : modulesPassed++
modules << map.title
}

def sumOfFailed = featuresFailed + featuresErrored
def sumofPassed = featuresRun - sumOfFailed
def passPercentage = String.format( '%.2f%%', (sumofPassed / featuresRun) * 100 )
%>
<br/>

<div>
    <div class="header-wrapper">
        <div class="header-left">
            <h2>Tests Summary</h2>
            <table class="summary-table">
                <thead>
                <tr>
                    <th>Tests Executed</th>
                    <th>Tests Passed</th>
                    <th>Tests Failed</th>
                    <th>% of Tests Passed</th>
                    <th>Total time</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>${featuresRun}</td>
                    <td>${sumofPassed}</td>
                    <td class="${stats.failed ? 'failure' : ''}">${sumOfFailed}</td>
                    <td>${passPercentage}</td>
                    <td>${fmt.toTimeDuration(stats.time)}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br/>

<div class="header-wrapper">
    <div class="header-left">
        <h2>Test Details</h2>
        <table class="summary-table table" id="sum_table">
            <thead>
            <tr id="titlerow">
                <th>Module Name</th>
                <th>Test Cases</th>
                <th>Passed</th>
                <th>Failed</th>
                <th>Errors</th>
                <!--<th>Skipped</th>-->
                <th>Success rate</th>
                <th>Time</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody class="list">
            <% data.each { name, map ->
            def s = map.stats
            def finalStatus = s.failures || s.errors ? 'FAILED' : (s.skipped && !map.executedFeatures) ? 'SKIPPED' :
            'PASSED'
            def cssClass = (s.errors ? 'error' : '') + ' ' + (s.failures ? 'failure' : '')
            def skippedCssClass = (s.skipped && !map.executedFeatures ? 'skipped' : '')
            def passedCssClass = finalStatus == 'PASSED' ? 'passed' : ''
            def title = (map.title ?: '')
            def pass= s.totalRuns - (s.failures + s.errors)
            %>
            <tr class="$cssClass $skippedCssClass">
                <td class="$cssClass rowDataSd">$title</td>
                <td class="$cssClass rowDataSd">${s.totalRuns}</td>
                <td class="$cssClass rowDataSd">${pass}</td>
                <td class="$cssClass rowDataSd">${s.failures}</td>
                <td class="$cssClass rowDataSd">${s.errors}</td>
                <!--<td class="$cssClass rowDataSd">${s.skipped}</td>-->
                <td class="$cssClass rowDataSd">${fmt.toPercentage(s.successRate)}</td>
                <td class="$cssClass rowDataSd">${gebUtils.formatMillis(s.time)}</td>
                <td class="status $cssClass $passedCssClass rowDataSd" data-status="${finalStatus}">${finalStatus}</td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>

<div class="header-wrapper">
    <div class="header-left">
        <h2>Notes:</h2>
        <ul>
            <li>Errors: Script Errors, Test script needs attention.</li>
            <li>Failures: Possible bug or not met business criteria.</li>

        </ul>
    </div>
</div>
</body>
</html>