

#main-nav__logo
{
width:170px;
position:relative;
top:14px
}
body
{
position:relative;
width:80%;
}

h1
{
color:#0033a1;
}
h2
{
color:#0033a1;
}
h2.specifications {
    display: inline-block;
    color:#0033a1;
}

div.filter {
    float: right;
    padding-top: 36px;
}

input.search {
    float: right;
    font-size: 13px;
    margin-left: 8px;
}

input.table-filter {
    display: none
}

input.table-filter + label {
    display: inline-block;
    cursor: pointer;
    color: #000;
    padding: 5px 5px 3px 5px;
    border: 1px solid #DDDDDD;
    opacity: 0.4;
    font-size: 13px;
}

input.table-filter:checked + label{
    opacity: 1.0;
    border: 1px solid #999999;
}

ul.pagination {
    list-style: none;
    padding: 0;
    text-align: right;
}

ul.pagination > li {
    display: inline;
}

a.page {
    border: 1px solid #DDDDDD;
    transition: background-color .3s;

    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 2px;

    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: inherit;

    font-size: 13px;
}

ul.pagination li:not(.active) > a.page:hover {
    background-color: #DDDDDD;
}

ul.pagination > li.active > a.page {
    font-weight: bold;
}

div.header-left {
    width: 60%;
    float: left;
    position: relative;
    top: 50px;
}

div.header-right {
    width: 14%;
    position: relative;
    left: 800px;
    top: -100px;
}

div.header-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.ct-series-passed {
    fill: #da8719;
}

.ct-series-failed {
    fill: #E53935;
}

.ct-label {
    fill: #FFFFFF;
    font-size: 13px;
}