<!DOCTYPE html>
<html>

<%
def stats = utils.aggregateStats(data)
def config = com.aoe.gebspockreports.GebReportConfigLoader.instance.config
def gebUtils = new com.aoe.gebspockreports.GebReportUtils()
def bdsiSpocUtils = new com.bdsi.util.BDSISpockUtils()
%>

<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="chartist.min.css" />
    <link rel="stylesheet" href="base.css" />
    <link rel="stylesheet" href="summary.css" />
    <% if (config.customCssFile != null) { %>
    <link rel="stylesheet" href="custom.css" />
    <% } %>
    <meta charset="utf-8"/>
    <title>Boeing Web Automation</title>
</head>
<body>
<h1><img id="main-nav__logo" src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Boeing_full_logo.svg" style="width:175px"
         alt="BoeingDistribution">
    Automation Test Execution Summary - BOEING</h1>
<hr>
<hr>
<span class="date-test-ran" style="font-size: 15px;">
<%
    out << "Created on ${new Date()} by ALT Digital Technologies"
    out << (projectName ? ', <strong>Project: </strong> ' + projectName : '')
    out << (projectVersion ? (', <strong>Version: </strong>' + projectVersion) : '')
%>
</span>
<div>
    <div class="header-wrapper">
        <div class="header-left">
            <h2>Environment Summary</h2>
            <table class="summary-table">
                <thead>
                <tr>
                    <th>Device</th>
                    <th>Environment</th>
                    <th>Base URL</th>
                </tr>
                </thead>
                <tbody>
                <% def env = System.properties['geb.build.baseUrl']
                def baseUrl = com.bdsi.util.BDSISpockUtils.getConfigProperty('baseUrl')
                def driver = System.properties['geb.env']
                device = 'Desktop'
                %>
                <tr>
                    <td>${device}</td>
                    <td>${env}</td>
                    <td>${baseUrl}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <%
    def modules = [] as List
    def modulesPassed = 0
    def featuresRun = 0
    def featuresFailed = 0
    def featuresErrored = 0
    def featuresSkipped = 0

    data.each { name, map ->
    def s = map.stats
    featuresRun += s.totalRuns
    featuresFailed += s.failures
    featuresErrored += s.errors
    featuresSkipped += s.skipped

    def failedCasesCountForModule = featuresFailed + featuresErrored
    modulesPassed = (failedCasesCountForModule > 0) ? 0 : modulesPassed++
    modules << map.title
    }

    def sumOfFailed = featuresFailed + featuresErrored
    def sumofPassed = featuresRun - sumOfFailed

    def fmtPassPercentage = String.format( '%.2f%%', (sumofPassed / featuresRun) * 100 )
    %>
    <div class="header-wrapper">
        <div class="header-left">
            <h2>Summary</h2>
            <table class="summary-table">
                <thead>
                <tr>
                    <th>Total Test Cases</th>
                    <th>Total Test Passed</th>
                    <th>Total Test Failed</th>
                    <th>Success rate</th>
                    <th>Total time</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>${featuresRun}</td>
                    <td>${sumofPassed}</td>
                    <td class="${stats.failed ? 'failure' : ''}">${sumOfFailed}</td>
                    <td>${fmtPassPercentage}</td>
                    <td>${fmt.toTimeDuration(stats.time)}</td>
                </tr>
<!--                <tr>-->
<!--                    <td>${stats.total}</td>-->
<!--                    <td>${stats.passed}</td>-->
<!--                    <td class="${stats.failed ? 'failure' : ''}">${stats.failed}</td>-->
<!--                    <td class="${stats.fErrors ? 'error' : ''}">${stats.fErrors}</td>-->
<!--                    <td class="${stats.failed ? 'failure' : ''}">${fmt.toPercentage(stats.successRate)}</td>-->
<!--                    <td>${fmt.toTimeDuration(stats.time)}</td>-->
<!--                </tr>-->
                </tbody>
            </table>
        </div>
        <div class="header-right">
            <div class="ct-chart ct-square" style = "left:150%"></div>
        </div>
    </div>
</div>
<div id="specs">
    <h2 class="specifications">Test Details</h2>
    <table class="summary-table table" id="sum_table">
        <thead>
        <tr id="titlerow">
            <th>Module Name</th>
            <th>Test Cases</th>
            <th>Passed</th>
            <th>Failed</th>
            <th>Errors</th>
            <!--<th>Skipped</th>-->
            <th>Success rate</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody class="list">
        <% data.each { name, map ->
        def s = map.stats
        def finalStatus = s.failures || s.errors ? 'FAILED' : (s.skipped && !map.executedFeatures) ? 'SKIPPED' :
        'PASSED'
        def cssClass = (s.errors ? 'error' : '') + ' ' + (s.failures ? 'failure' : '')
        def skippedCssClass = (s.skipped && !map.executedFeatures ? 'skipped' : '')
        def passedCssClass = finalStatus == 'PASSED' ? 'passed' : ''
        def title = (map.title ?: '')
        def pass= s.totalRuns - (s.failures + s.errors)
        %>
        <tr class="$cssClass $skippedCssClass">
            <td><a class="name rowDataSd" href="${name}.html">$title</a></td>
            <td class="$cssClass rowDataSd">${s.totalRuns}</td>
            <td class="$cssClass rowDataSd">${pass}</td>
            <td class="$cssClass rowDataSd">${s.failures}</td>
            <td class="$cssClass rowDataSd">${s.errors}</td>
            <!--<td class="$cssClass rowDataSd">${s.skipped}</td>-->
            <td class="$cssClass rowDataSd">${fmt.toPercentage(s.successRate)}</td>
            <td class="$cssClass rowDataSd">${gebUtils.formatMillis(s.time)}</td>
            <td class="status $cssClass $passedCssClass rowDataSd" data-status="${finalStatus}">${finalStatus}</td>
        </tr>
        <% } %>
        </tbody>
    </table>
    <ul class="pagination"></ul>
</div>

<div class="footer">
</div>
</body>
</html>

<script src="list.min.js"></script>
<script>
    (function(document) {
        var options = undefined;
        var paginationEnabled = ${config.pagination.enabled};

        if (paginationEnabled) {
            options = {
                valueNames: [ 'name', 'status' ],
                page: ${config.pagination.pageSize},
                pagination: {
                    outerWindow: 1,
                    innerWindow: 3
                }
            };
        } else {
            options = {
                valueNames: [ 'name', 'status' ]
            }
        }

        var specsList = new List('specs', options);

        function update_filter() {
            var checkbox = this;
            if (this.checked) {
                specsList.filter(function(item) {
                    return item.values().status === checkbox.dataset.status
                });
            }
        }

        function show_all() {
            if (this.checked) {
                specsList.filter(function() { return true; })
            }
        }

        document.getElementById('filter-all').onchange = show_all;
        document.getElementById('filter-passed').onchange = update_filter;
        document.getElementById('filter-failed').onchange = update_filter;
        document.getElementById('filter-skipped').onchange = update_filter;
    })(document);
</script>

<script src="chartist.min.js"></script>
<script>
    (function(document) {
        var data = {
            series: [
                {value: ${stats.passed}, className: 'ct-series-passed'},
                {value: ${stats.failed}, className: 'ct-series-failed'}
            ].filter(function(v) { return v.value > 0 })
        };

        var sum = ${stats.total};

        new Chartist.Pie('.ct-chart', data, {
            labelInterpolationFnc: function (value) {
                return Math.round(value / sum * 100) + '%';
            },
            startAngle: 0,
            showLabel: true
        });
    })(document);
</script>

